<!--@subject Welcome, {{var customer.name}}! @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>{{var customer.name}}様</strong>,<br/>
                            Magento Demo店へようこそ。 私どものサイトにログインしていただくには すべてのページの上部にある<a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">ログイン</a>か<a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">マイアカウント</a> をクリックし、メールアドレスとパスワードを入力してください。</p>

                            <p>ログインされますと以下の機能をご使用いただけます。</p>

                            <ul>
                                <li>購入する際、より簡単にご注文いただけます。</li>
                                <li>注文の状況をいつでもご確認できます。</li>
                                <li>過去の注文を見ることができます。</li>
                                <li>アカウントの情報を変更することができます。</li>
                                <li>パスワードを変更することができます。</li>
                                <li>複数の住所を保存できます (複数の家族や友人に配送する場合に!)</li>
                            </ul>

                            <p>アカウントに関してやその他ご質問などがありましたら、メールアドレス<a href="mailto:dummyemail@magentocommerce.com" style="color:#1E7EC8;">dummyemail@magentocommerce.com</a>、またはお電話(800) DEMO-STOREで、お気軽にお問い合わせください。</p>
                            <p>ありがとうございます!</p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
